ROBOFLOW_API_KEY=
ROBOFLOW_MODEL=https://universe.roboflow.com/tecky-nx4vn/mahjong-9xjry/model/1
ROBOFLOW_BASE_URL=https://serverless.roboflow.com
ROBOFLOW_CONFIDENCE=30
ROBOFLOW_OVERLAP=30
ROBOFLOW_DEDUP_IOU=0.55
APP_PORT=5174
CLOUDFLARED_TOKEN=
